streamlit
requests
bs4
transformers
nltk
torch
scikit-learn
pandas
joblib
numpy==1.25.0  # or a close stable version
spacy==3.5.0   # or a version aligned with your Python version
imbalanced-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl


